<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment=".git" />
                    <add segment="migrations" />
                </hiddenSegments>
                <fileExtensions>
                    <add fileExtension=".env" allowed="false" />
                    <add fileExtension=".sql" allowed="false" />
                    <add fileExtension=".log" allowed="false" />
                    <add fileExtension=".md" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
